@font-face {
    font-family: digital7;
    src: url("/images/digital-7.ttf");
}

body{
    background: url("/images/tumblr.jpg");
    background-color: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central {
    background: rgba(255, 255, 255, 0.349);
    width: 500px;
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.central div {
    background: rgba(0, 0, 0, 0.507);
    color: white;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central span{
    font-family: digital7;
    font-size: 110px;
}